<head>
 <title>SalesLoft Integration</title>
 <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
</head>
<div class = "container">

	<%= button_to "Home",  root_path, method: :get, class: "btn btn-primary"%>
	<h1>People</h1>
	</div>

	<div class = "container">

		<table class = "table-hover">


			<% @result.each do |person| %>
				<tr>
					<td><p>	
							<h2> <%= "#{person["first_name"]}  #{person["last_name"]}" %> </h2>
							<h4> <%= person["email_address"] %> </h4>
							<h4> <%= person["title"] %> </h4>
						</p>
					</td>
				</tr>
			<% end %>

		</table>

	</div>

</div>>
